In [2]:
# Cell 1: Import libraries and load the data
import pandas as pd
import numpy as np

print("Loading the dataset...")
df = pd.read_csv('Churn.csv')
print("Dataset loaded successfully.")

# Cell 2: Clean the data
print("Starting data cleaning...")
# The 'TotalCharges' column has some empty spaces. We need to fix this.
# We will turn the empty spaces into 'NaN' (Not a Number)
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')

# Now we find any rows with NaN and fill them with the median value of the column.
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].median())
print("Data cleaning complete! The data is now ready.")

# Cell 3: Check your work
# Display the first 5 rows and info to confirm it's clean.
print(df.head())
df.info()

Loading the dataset...
Dataset loaded successfully.
Starting data cleaning...
Data cleaning complete! The data is now ready.
   customerID  gender  SeniorCitizen Partner Dependents  tenure PhoneService  \
0  7590-VHVEG  Female              0     Yes         No       1           No
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MultipleLines InternetService OnlineSecurity  ... DeviceProtection  \
0  No phone service             DSL             No  ...               No
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TechSupport StreamingTV StreamingMovies        Contract PaperlessBilling  \
0          No          No              No  Month-to-month              Yes
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PaymentMethod MonthlyCharges  TotalCharges  Churn
0           Electronic check          29.85         29.85     No
1               Mailed check          56.95       1889.50     No
2               Mailed check          53.85        108.15    Yes
3  Bank transfer (automatic)          42.30       1840.75     No
4           Electronic check          70.70        151.65    Yes

[5 rows x 21 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [3]:
# Cell 4: Connect to PostgreSQL and load the data
from sqlalchemy import create_engine

# --- IMPORTANT: Change 'your_password' to the password you wrote down! ---
db_password = 'Riya2392260'

# Connection details
db_user = 'postgres'
db_host = 'localhost'
db_port = '5432'
db_name = 'telecom_churn_db'

print("Connecting to the database...")
connection_string = f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}"
engine = create_engine(connection_string)

# This line sends your DataFrame 'df' to a new table called 'customers' in PostgreSQL
df.to_sql('customers', engine, if_exists='replace', index=False)

print("Success! Your data is now in the PostgreSQL database.")

Connecting to the database...
Success! Your data is now in the PostgreSQL database.